.main-panel {
  width: 30em;
  height: 100vh;
  margin-right: 1em;
  padding: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2.4px;
  box-shadow: 0 5px 60px -20px #545454;
  transition-duration: .4s; }
