input {
  margin: 1em;
  padding: 0.2em;
  border: none;
  width: 100%;
  height: 3em;
  font-size: 0.8em;
  background: rgba(255, 255, 255, 0.3);
  outline: none;
  border-radius: 2.4px;
  border-bottom: 1px solid #FE7138;
  transition: 0.12s ease-in-out; }

input:focus {
  background: transparent;
  border-bottom: 1px solid black;
  background: rgba(255, 255, 255, 0.8);
  outline: none; }

input:active {
  background: transparent;
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid white;
  outline: none; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
  -webkit-text-fill-color: black; }
