@import url('https://fonts.googleapis.com/css?family=Work+Sans:100');
@import url('https://fonts.googleapis.com/css?family=Nunito:200');

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: visible;
}

body {
  margin: 4em;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
  background: -webkit-linear-gradient(13deg, rgb(19, 91, 156), rgb(152, 165, 178));
  background: linear-gradient(13deg, rgb(19, 91, 156), rgb(152, 165, 178));
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-attachment: fixed;
}

#root {
  width: 80%;
  height: 30em;
  padding: 1.2em;
  opacity: 1;
}

p {
  font-size: 0.8em;
}

h1 {
  text-align: center;
  font-size: 2em;
  color: white;
  opacity: 0.4;
}
